<div class="col">
  <div class="card text-center my-3" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-weight: 900; color: blueviolet;">{{lecturerDetails.first_name}}
        {{lecturerDetails.last_name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{lecturerDetails.phone}}</li>
      <li class="list-group-item">{{lecturerDetails.email}}</li>
      <li class="list-group-item">{{lecturerDetails.starting_date | experience}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="btn btn-warning">Select</a>


    </div>
  </div>
</div>
