<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{lecturerDetails.first_name}} {{lecturerDetails.last_name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{lecturerDetails.phone}}</li>
    <li class="list-group-item">{{lecturerDetails.email}}</li>
    <li class="list-group-item">{{lecturerDetails.starting_date | experience}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="btn btn-primary">Select</a>
  </div>
</div>
