<div class="mb-3 w-40 row">
  <label class="col-sm-2 col-form-label" for="">Filter by category:</label>
  <div class="col-sm-3">
    <select (change)="filterByCategory()" [(ngModel)]="selectedCategory" class="form-select">
      <option>All
      </option>
      <option *ngFor="let category of categories" [value]="category.category">{{category.category}}
      </option>
    </select>
  </div>
  <div class="col-sm-2">
    <button (click)="exportCoursesData()" class="ms-3 "><i class="bi-download"></i>Export</button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>
        Course Name
        <button (click)="sortCourses('name')" class="btn btn-default">
          <i [ngClass]="displaySort('name')"></i>
        </button>
      </th>
      <th>
        Price
        <button (click)="sortCourses('price')" class="btn btn-default">
          <i [ngClass]="displaySort('price')"></i>
        </button>
      </th>
      <!-- <th class="align-middle">Phone</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses;let i=index;">

      <td>({{course.code}}) {{course.name}}</td>
      <td>{{course.price}} <button (click)="showCourseDetails(i)" class="btn btn-default"><i
            class="bi-plus-square"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="showDetails">
  <div class="card" style="width: 60rem;">
    <div class="card-body">
      <p class="card-text">Starting date:{{theCourse.open_date}}</p>
      <p class="card-text">Number of lessons: {{theCourse.lessons_numb}}</p>
      <p class="card-text">Category: {{theCourse.category}}</p>
      <p class="card-text">Course description: {{theCourse.description}}</p>
      <p class="card-text">Lecturer: {{theCourse.lecturer}}</p>
      <a href="#" class="card-link">Card link</a>
    </div>
  </div>
</div>
